<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    {{>header}}
    <p>use this site to get your weather!</p>
    
    <form>
        <input type="text" placeholder="Enter the place">
    <button>search</button>
    </form>

    <p>created by {{name}}</p>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>